.section-banner-modal {
  padding-bottom: 1rem;
  max-width: 30.5rem;
}

.section-banner-modal h2 {
  letter-spacing: 0.1pt;
}

.section-banner .section-banner-image {
  background-image: url(/images/about/hero-image.webp);
}

.about-content {
  background-color: var(--bg-primary);
}

.about-content .wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;
  gap: 8rem;
}

.about-content .about-content-first {
  width: clamp(20rem, 39rem, 90vw);
}

.about-content .about-content-first h2 {
  font-size: 1.45rem;
  margin-bottom: 2rem;
}

.about-content .about-content-paragraphs {
  display: flex;
  flex-direction: column;
}
.about-content .about-content-first p {
  font-size: 1.1rem;
}
.about-content .about-content-second {
  width: clamp(20rem, 22rem, 90vw);
}

.about-content .about-content-second > div {
  background-color: var(--text-white);
  height: 3.2rem;
  border: thin solid #e0dedee5;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: flex-end;
}

.media-center-news {
  background-color: var(--bg-primary);
  padding: 6rem 8.5%;
}

.media-center-news .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.media-center-news > h3 {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 2rem;
  text-align: start;
  font-weight: 600;
}

.media-center-news .wrapper ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  list-style-type: none;
  padding: unset;
}
.media-center-news .wrapper ul li {
  border-bottom: thin solid #e0dedee5;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.media-center-news .wrapper span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #a7a4a4;
}

.media-center-news .wrapper a {
  font-size: 1.3rem;
  color: var(--text-primary);
  font-weight: 300;
}

.media-center-news a.gt-accent-btn#about {
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-white);
  font-weight: 600;
  padding: 0.8rem 1.8rem;
}

.media-center-news a.gt-accent-btn#about span {
  color: inherit;
}

.more-from-gt {
  padding: 4.3rem 8.5%;
}

.more-from-gt h3 {
  font-size: 1.13rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.more-from-gt .wrapper {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.more-from-gt .wrapper > div {
  width: 12.2rem;
  height: 9.5rem;
  margin-left: clamp(0.5rem, 1%, 10rem);
  box-shadow: 1px 1px 4px #cecece;
  border: thin solid #dad6d6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.more-from-gt .wrapper > div img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}
.more-from-gt .wrapper > div p {
  font-size: 0.85rem;
}