/* @font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("../fonts/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Italic"),
    url("../fonts/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"),
    url("../fonts/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold Italic"),
    url("../fonts/Acumin-BdItPro.woff") format("woff");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acumin Pro", "sans-serif";
}

ul {
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

:root {
  --bg-accent: #dd4f05;
  --bg-primary: #f7f8f8;
  --bg-copyright: #434a51;
  --bg-accent-dark: #923403;
  --bg-banner: #fdf6f2;
  --bg-icon: #e0e1e2;

  --text-white: #fff;
  --text-primary: #424a52;
  --text-secondary: #696f73;
  --text-active: #dd5006;
}

@media screen and (min-width: 0px) and (max-width: 360px) {
  .screen-lg {
    display: none;
  }
  .screen-md {
    display: none;
  }
  .screen-sm {
    display: block;
  }

  .screen-sm.screen-md {
    display: block;
  }
  .screen-sm.screen-lg {
    display: block;
  }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .screen-lg {
    display: none;
  }
  .screen-md {
    display: block;
  }
  .screen-sm {
    display: none;
  }

  .screen-md.screen-sm {
    display: block;
  }
  .screen-md.screen-lg {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .screen-lg {
    display: block;
  }
  .screen-md {
    display: none;
  }
  .screen-sm {
    display: none;
  }

  .screen-lg.screen-sm {
    display: block;
  }
  .screen-lg.screen-md {
    display: block;
  }
}

/* 
@media screen and (min-width: 361px) and (max-width: 768px) {
  .screen-md {
    display: block;
  }
  .screen-sm {
    display: none;
  }
} */

@media screen and (min-width: 0px) and (max-width: 360px) {
  .sm-justify-center {
    justify-items: center !important;
    justify-content: center !important;
  }

  .sm-margin-adjust-center {
    margin: 0 auto !important;
  }

  .sm-align-center {
    align-items: center !important;
    place-items: center !important;
  }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
  .md-justify-center {
    justify-items: center !important;
    justify-content: center !important;
  }

  .md-margin-adjust-center {
    margin: 0 auto !important;
  }

  .md-align-center {
    align-items: center !important;
    place-items: center !important;
  }
}

@media screen and (min-width: 769px) {
  .lg-justify-center {
    justify-items: center !important;
    justify-content: center !important;
  }

  .lg-margin-adjust-center {
    margin: 0 auto !important;
  }

  .lg-align-center {
    align-items: center !important;
    place-items: center !important;
  }
}

@media screen and (max-width: 768px) {
  .sm-margin-adjust-center {
    margin: 0 auto;
  }
}
