section.bs-trio-divs .pns-title {
  width: 100%;
  color: var(--bg-accent);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

section.bs-trio-divs .pns-title span {
  display: inline-block;
  width: 3rem;
  height: 100%;
}

section.bs-trio-divs .pns-title h3 {
  height: 3rem;
  display: flex;
  align-items: flex-end;
}

section.bs-trio-divs .pns-item ul {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: unset;
  margin-bottom: 2.8rem;
}

section.bs-trio-divs .pns-item li {
  font-size: 1.1rem;
  width: 100%;
  text-align: start;
  color: var(--bg-accent);
}

section.bs-trio-divs .pns-item li a {
  display: inline;
  width: max-content;
  font-weight: 600;
}

section.bs-trio-divs .pns-item li:hover a {
  color: var(--bg-accent-dark);
}
